<clickhouse>
    <!-- Задаём режим работы: использовать Keeper вместо ZooKeeper -->
    <zookeeper_mode>keeper</zookeeper_mode>
    <listen_host>::</listen_host>
    <remote_servers>
        <global_cluster>
            <shard>
                <replica>
                    <host>clickhouse1</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse2</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse3</host>
                    <port>9000</port>
                </replica>
            </shard>
        </global_cluster>
        <write_cluster>
            <shard>
                <replica>
                    <host>clickhouse1</host>
                    <port>9000</port>
                </replica>
            </shard>
        </write_cluster>
        <read_cluster>
            <shard>
                <replica>
                    <host>clickhouse2</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse3</host>
                    <port>9000</port>
                </replica>
            </shard>
        </read_cluster>
    </remote_servers>

    <macros>
        <shard>01</shard>
        <replica>${CLICKHOUSE_SERVER_ID}</replica>
        <cluster>global_cluster</cluster>
    </macros>
    
    <keeper_server>
        <use_keeper>1</use_keeper>
        <tcp_port>9181</tcp_port>
        <server_id>${CLICKHOUSE_SERVER_ID}</server_id>
        <raft_configuration>
            <server>
                <id>1</id>
                <hostname>clickhouse1</hostname>
                <port>9234</port>
            </server>
            <server>
                <id>2</id>
                <hostname>clickhouse2</hostname>
                <port>9234</port>
            </server>
            <server>
                <id>3</id>
                <hostname>clickhouse3</hostname>
                <port>9234</port>
            </server>
        </raft_configuration>
        <log_storage_path>/var/lib/clickhouse/keeper/logs</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/keeper/snapshots</snapshot_storage_path>
        <election_timeout_lower_bound_ms>5000</election_timeout_lower_bound_ms>
        <election_timeout_upper_bound_ms>10000</election_timeout_upper_bound_ms>
        <tick_time_ms>2000</tick_time_ms>
        <sync_limit>5</sync_limit>
    </keeper_server>

</clickhouse>
